.container{
    margin-bottom: 50px;
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding:20px 40px;
}
.price{
    color: rgb(199, 94, 94);
}
.so-button{
    background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 20px;
    border-radius: 15px;
}
.cat1{
    background-color: rgb(89, 255, 205);
  
}
.cat2{
    background-color: rgb(255, 129, 156);
   
}
.cat3{
    background-color: rgb(133, 133, 255);
}
.name{
    color: white;
    font-family: 'Langar', cursive;
}
.name img{
    width:100px;
    
}
.card{
    border:none;
    box-shadow: 5px 5px 10px lightgray;
}
#subscribe{
    height: 300px;

}
footer{
    text-align: center;
}
